.Company_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.Company_info a {
  text-decoration: none;
  margin-bottom: 10px;
  color: #8c28e9;
  font-weight: 700;
}

.Company_info a:hover {
  color: #7a05e7;
}

.Company_info__description {
  width: 50%;
  text-align: start;
}
